@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/fredoka/v6/X7nP4b87HvSqjb_WIi2yDCRwoQ_k7367_B-i2yQag0-mac3OryLMFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/fredoka/v6/X7nP4b87HvSqjb_WIi2yDCRwoQ_k7367_B-i2yQag0-mac3O8SLMFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/fredoka/v6/X7nP4b87HvSqjb_WIi2yDCRwoQ_k7367_B-i2yQag0-mac3OwyLMFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/fredoka/v6/X7nP4b87HvSqjb_WIi2yDCRwoQ_k7367_B-i2yQag0-mac3OLyXMFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/fredoka/v6/X7nP4b87HvSqjb_WIi2yDCRwoQ_k7367_B-i2yQag0-mac3OFiXMFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq_p9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq5Z9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq0N6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqw16aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Uw-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC70w-.ttf) format('truetype');
}
* {
  font-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
}
.desktop {
  display: block !important;
}
.mobile {
  display: none !important;
}
.button {
  background: #6F66FF;
  padding: 10px;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  margin: 10px 10px 0 0;
}
.button:focus,
.button:hover {
  color: white;
  text-decoration: none;
}
.button:hover {
  background: #4d44ca;
}
.b-mobile:before {
  content: "\00a0";
  width: 18px;
  height: 18px;
  background-image: url(../images/mobile-view.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  display: inline-block;
  margin-right: 5px;
}
.b-desktop:before {
  content: "\00a0";
  width: 18px;
  height: 18px;
  background-image: url(../images/desktop-view.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  display: inline-block;
  margin-right: 5px;
}
header {
  background-image: url('../images/background-desk.jpg');
  background-size: cover;
  background-position: center;
}
#navbar {
  overflow: hidden;
  background-color: #333;
}
.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 9;
}
.sticky + .content {
  padding-top: 53px;
}
#content.sticky {
  padding-top: 53px;
}
img {
  max-width: 100%;
}
h1 {
  display: block;
  margin: 30px auto !important;
  text-align: center;
}
h1 img {
  display: inline-block;
  max-width: 250px;
}
h1 p {
  display: inline-block;
  vertical-align: middle;
  font-weight: 300;
  text-align: center;
  font-size: 20px;
}
.navbar-default {
  background: white !important;
  margin-bottom: 0 !important;
}
.navbar-default .navbar-collapse .nav li a {
  color: #0C0910;
  font-weight: 500;
}
.navbar-default .navbar-collapse .nav li a::before {
  content: "\00a0";
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 5px;
  position: relative;
  top: -2px;
}
.navbar-default .navbar-collapse .nav .portfolio {
  background-color: #6F66FF;
}
.navbar-default .navbar-collapse .nav .portfolio a {
  color: #E9EEF3;
}
.navbar-default .navbar-collapse .nav .portfolio.open {
  background: linear-gradient(90.05deg, #F3B2B0 25.22%, #FEEAB6 53.47%, #CBD2EF 80.56%);
}
.navbar-default .navbar-collapse .nav .portfolio.open > a {
  background-color: #483eca;
  background-image: none;
  color: #E9E9F9;
}
.navbar-default .navbar-collapse .nav .portfolio.open .dropdown-menu {
  background: #E9E9F9;
  padding: 13px 40px;
  width: 100vw;
  position: absolute;
  left: -32px;
}
.navbar-default .navbar-collapse .nav .portfolio.open .dropdown-menu li {
  display: inline-block;
  padding: 0 30px;
}
.navbar-default .navbar-collapse .nav .portfolio.open .dropdown-menu a {
  color: #6F66FF;
  text-align: left;
  padding: 7px 0;
}
.navbar-default .navbar-collapse .nav .emailme a:before {
  background-image: url(../images/email.png);
  width: 18px;
  height: 14px;
}
.navbar-default .navbar-collapse .nav .whatsapp a:before {
  background-image: url(../images/phone.png);
  width: 10px;
  height: 18px;
}
.navbar-header {
  background: white;
}
.navbar-header .navbar-toggle {
  float: left;
  margin-left: 0;
  background-color: #6F66FF;
  border: none;
  border-radius: 0;
  margin: 0;
}
.navbar-header .navbar-toggle .menu-icon {
  color: #E9EEF3;
  line-height: 30px;
  font-weight: 500;
}
.navbar-header .navbar-toggle .menu-icon:before {
  content: "\00a0";
  width: 30px;
  height: 30px;
  background-image: url('../images/menu.png');
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
  background-color: #6F66FF !important;
}
.navbar-header .navbar-toggle:hover .menu-icon,
.navbar-header .navbar-toggle:focus .menu-icon {
  color: #E9EEF3;
}
.project {
  background-size: 110%;
  background-size: cover;
  background-position: center;
}
.project .text {
  margin: 30px 0;
  background: #ffffff40;
  padding: 20px 30px;
}
.project h4 {
  margin-bottom: 0;
}
.project.one {
  background-image: url('../images/windsorbg.jpg');
}
.project.two {
  background-image: url('../images/guinotbg.jpg');
}
.project.three {
  background-image: url('../images/portaldoc-bg.jpg');
}
.slide {
  position: relative;
}
.slide .content-links a {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 4em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 0.5em;
  font-size: 2em;
  bottom: -0.5em;
}
footer {
  background: rgba(98, 244, 253, 0.2);
}
footer img {
  mix-blend-mode: multiply;
}
footer .footer-primary {
  padding-bottom: 40px;
}
footer .my-life ul {
  list-style: none;
  padding: 0;
}
footer .my-life ul li {
  margin-bottom: 15px;
}
footer .my-life ul li:before {
  content: "\00a0";
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 5px;
  background-size: 18px;
}
footer .my-life ul li.located:before {
  background-image: url("../images/located.svg");
  background-size: 23px;
}
footer .my-life ul li.status:before {
  background-image: url("../images/status.svg");
  background-size: 18px;
}
footer .my-life ul li.relocation:before {
  background-image: url("../images/relocation.svg");
  background-size: 20px;
}
footer h3 {
  margin-bottom: 30px;
}
footer .copyright {
  text-align: center;
  padding: 11px 0;
  background: #6cd7f1;
  color: #46474b;
}
@media (max-width: 768px) {
  .mobile {
    display: inline-block !important;
  }
  .mobile.block {
    display: block !important;
  }
  .desktop {
    display: none !important;
  }
  header {
    background-image: url('../images/background-mobile.jpg');
  }
  header .portfolio.open > a {
    background: #483eca !important;
    color: #E9EEF3 !important;
  }
  header .navbar-header a {
    line-height: 48px;
    color: #0C0910;
    font-weight: 500;
    margin: 0px 10px;
  }
  header .navbar-header a::before {
    content: "\00a0";
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -2px;
  }
  header .navbar-header .emailme a:before {
    background-image: url(../images/email.png);
    width: 18px;
    height: 14px;
  }
  header .navbar-header .whatsapp a:before {
    background-image: url(../images/phone.png);
    width: 10px;
    height: 18px;
  }
  header .navbar-nav li.mobile a {
    padding: 10px 5px;
  }
}
@media (max-width: 920px) {
  .project img {
    max-width: 300px;
    display: block;
    margin: 17px auto;
  }
  .project .text {
    margin: 0px 0 30px;
  }
}
@media (min-width: 1024px) {
  footer .footer-primary {
    display: flex;
  }
  footer .footer-primary .picture-of-me {
    flex-basis: 33%;
    order: 2;
  }
  footer .footer-primary .about {
    order: 1;
    flex-basis: 50%;
    padding: 0 30px;
  }
  footer .footer-primary .my-life {
    order: 3;
    flex-basis: 26%;
  }
  footer .footer-primary img {
    width: 100%;
    padding: 0 30px;
  }
}
@media (max-width: 1023px) {
  footer h3 {
    text-align: center;
  }
  footer .picture-of-me {
    text-align: center;
    display: block;
  }
  footer .my-life,
  footer .about {
    padding: 0 40px;
  }
}
