@font-face {
  font-family: 'blacklist';
  src: url("../fonts/blacklist.eot");
  src: url("../fonts/blacklist.eot?#iefix") format("embedded-opentype"), url("../fonts/blacklist.woff2") format("woff2"), url("../fonts/blacklist.woff") format("woff"), url("../fonts/blacklist.ttf") format("truetype"), url("../fonts/blacklist.svg#Open Sans") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'lemonmilk';
  src: url("../fonts/lemonmilk.eot");
  src: url("../fonts/lemonmilk.eot?#iefix") format("embedded-opentype"), url("../fonts/lemonmilk.woff2") format("woff2"), url("../fonts/lemonmilk.woff") format("woff"), url("../fonts/lemonmilk.ttf") format("truetype"), url("../fonts/lemonmilk.svg#Open Sans") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'lemonmilklight';
  src: url("../fonts/lemonmilklight.eot");
  src: url("../fonts/lemonmilklight.eot?#iefix") format("embedded-opentype"), url("../fonts/lemonmilklight.woff2") format("woff2"), url("../fonts/lemonmilklight.woff") format("woff"), url("../fonts/lemonmilklight.ttf") format("truetype"), url("../fonts/lemonmilklight.svg#Open Sans") format("svg");
  font-weight: 400;
  font-style: normal; }
body {
  font-family: 'lemonmilk' !important;
  font-size: 1em; }
  body .body {
    text-align: center; }
    body .body h1 {
      background-image: url("../images/ornament.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      height: 390px;
      background-position: 0px -200px;
      font-size: 2em; }
      body .body h1 span {
        position: relative;
        top: 245px; }
      @media (max-width: 425px) {
        body .body h1 {
          background-position: 0 0;
          height: 220px; }
          body .body h1 span {
            top: 100px; } }
      @media (min-width: 426px) and (max-width: 1024px) {
        body .body h1 {
          background-position: 0 -170px;
          height: 243px; }
          body .body h1 span {
            top: 100px; } }
    body .body .text1 {
      font-family: 'lemonmilklight';
      margin-bottom: 3%; }
    body .body h2 {
      font-family: 'blacklist';
      font-size: 5em;
      color: #ca8e39; }
@keyframes anchor {
  from {
    width: 0%;
    background-color: transparent; }
  to {
    width: 100%;
    background-color: #fdb0be; } }
  body .info {
    text-align: center;
    margin-top: 2%;
    font-family: 'lemonmilklight'; }
    body .info a {
      position: relative;
      margin-bottom: 8px;
      text-decoration: none;
      color: black; }
      body .info a:before {
        content: '\00a0';
        display: inline-block;
        width: 0px;
        height: 0px;
        border-left: 10px solid #fdb0be;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        vertical-align: middle;
        margin-right: 5px; }
      body .info a:hover {
        background-color: rgba(253, 176, 190, 0.5);
        padding: 10px 20px;
        -webkit-transition: background 1s;
        cursor: pointer;
        text-decoration: none; }
        body .info a:hover:after {
          content: '\00a0';
          display: inline-block;
          width: 100%;
          height: 3px;
          background-color: #fdb0be;
          position: absolute;
          top: 36px;
          left: 0;
          right: 0;
          margin: 0 auto;
          animation-name: anchor;
          animation-duration: 1s;
          animation-delay: -300ms;
          animation-timing-function: cubic-bezier(0.66, 0.35, 0.49, 0.78);
          -webkit-transition: background 1s;
          -moz-transition: background 1s;
          -o-transition: background 1s;
          transition: background 1s; }
    body .info .answer {
      color: #ca8e39;
      margin-top: 15px; }
    body .info #map {
      width: 90%;
      height: 400px; }
    body .info .table {
      margin: 0 auto 30px auto; }

/*# sourceMappingURL=styles.css.map */
