

/*fonts*/
@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic.eot');
    src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CenturyGothic.woff2') format('woff2'),
         url('../fonts/CenturyGothic.woff') format('woff'),
         url('../fonts/CenturyGothic.ttf') format('truetype'),
         url('../fonts/CenturyGothic.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff2') format('woff2'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*varibles and mixins*/
$base_color: #00a6d3;
$sec_color: #f2f8f9; 
$dark_color: #175373;
$title: #79447c;

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

/*general styles*/
a{
    color: $base_color;
    &:hover{
        color: $base_color;
        text-decoration: underline;
    }
}

.fa{
    margin: 0 10px; 
    color: $dark_color;
}

/*HEADER*/

header{
    border-bottom: 5px solid $base_color;
    z-index: 1;
    @include box-shadow(-3px, 0, 10px, rgba(0, 0, 0, .5));
    .head01{
        background-color: $sec_color;
        font-family: "Century Gothic";
        padding: 10px 0;
        font-size: 1em;
        border-bottom: 1px solid rgba(127, 163, 169, .1);
        .redes-header{
            text-align: right;
        }
        @media screen and (max-width: 540px){
            .fa-envelope, .fa-phone{
                display: none;
            }
            .border{
            border: none;
            }
            .padding{
                padding: 0;
            }
            font-size: .8em;
        }
    }
    .border{
        border-right: 1px solid $dark_color;
    }
    .head02{
         @media screen and (max-width: 767px){
            .navbar-header{
                .navbar-toggle{
                    top: 50px;
                    border: none;
                    & .icon-bar{
                        background-color: $base_color;
                    }
                    &:hover{
                        background: transparent;
                    }
                }
             }
            .navbar-collapse{
                background: white;
                border: 1px solid $base_color;
                border-radius: 3px;
                position: absolute;
                right: 15px;
                z-index: 9;
                @include box-shadow(3px, 1px, 10px, rgba(0, 0, 0, .2));
                ul{
                    li{
                        text-align: center;
                        font-size: 1.3em;
                        &.active, &:hover{
                            background-color: rgba(209, 209, 209, .2);
                            a{
                                border:none;
                            }
                        }
                    }
                }
            }
        }
    }
    h1{
        background:  url('../images/logoCAC.png') no-repeat center;
        width: 129px;
        height:57px;
        text-indent: -999999px;
    }
    .navbar-default{
        border:none;
        background: none;
        border-radius: none;
        box-shadow: none;
        height: 90px;
        .navbar-collapse{
            margin-top: 50px;
        }
        .navbar-nav li{
           font-family: 'ralewayregular';
           a{
                text-transform: uppercase !important;
                color: $dark_color;
                padding: 15px 15px 3px 15px;
                font-size: 1em;
                &:hover{
                    font-family: 'ralewaybold';
                    color: $dark_color;
                    border-bottom: 2px solid $dark_color;
                }

           }
           &.active{
                a{
                    font-family: 'ralewaybold';
                    background:none;
                    box-shadow: none;
                    color: $dark_color;
                    border-bottom: 2px solid $dark_color;
                    &:hover{
                        font-family: 'ralewaybold';
                        color: $dark_color;
                        border-bottom: 2px solid $dark_color;
                        background: none;
                    }
                }
           }
           
        }
    }
}
/*FIN HEADER*/
/*MAIN*/
section{
    img{
        width:100%;
        margin-bottom: 25px;
    }
    .title{
        margin-bottom: 20px;
        padding: 0;
        &:after{
            content: "\00a0";
            margin-top: 10px;
            width: 100px;
            height: 10px;
            background: $title;
            display: block;
            float: right;
        }
        & p{
            color: $title;
            padding: 30px;
            border: 5px solid $title;
            font-family: 'ralewaybold';
            font-size: 2em;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
    }
    .text{
        font-family: 'ralewayregular';
        font-size: 1.2em;
        margin: 2em 0;
    }
    .nosotros{
        width: auto;
        display: block;
        margin: 0 auto;
    }
    .servicios{
        width: 100%;
        height: auto;
    }
    .nostext{
        padding: 0 2em;
        margin: 45px 0;
        h3{
            text-align: center;
        }
        &:after{
            content: "\00a0";
            margin-top: 10px;
            width: 50px;
            height: 5px;
            background: $title;
            display: block;
            float: right;
        }
        ul{
            margin: 0 !important;
            padding: 0 !important;
            text-align: center;
            li{
               list-style: none  
            }
        }
    }

     .google-maps {
        position: relative;
        padding-bottom: 30%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
        margin-bottom: 2em;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
    label{
        display: block;
        text-transform: uppercase;
        font-family: 'ralewaybold';
    }
    input, textarea{
        border: 1px solid $title;
        width: 100%;
        border-radius: 1px;
        margin: 10px 0;
        padding: 10px;
    }
    &.contacto{
        .fa{
            font-size: 2em;
            display: inline-block;
            line-height: 88px;
            width: 50px;
        }
        .contact-side{
            font-family: 'ralewaybold';
            line-height: 1.5em;
        }
    }
}
/*FIN MAIN*/
/*FOOTER*/
footer{
    color: white;
    font-family: "Century Gothic";
    font-size: 1em;
    margin-top: 50px;
    .fa{
        color: white;
        font-size: 1.2em;
    }
    .foot01{
        background: #497daf;
        padding: 10px 0;
        line-height: 50px;
        text-align: left;
    }
    .foot02{
        background: #345f87;
        padding: 10px 0;
        text-align: center;
    }
    .social, .payment{
        @media screen and (max-width: 767px){
            text-align: center;
        }
    }
    .after{
        @media screen and (max-width: 767px){
            text-align: center;
        }

        &:after{
            content: "|";
            color: white;
            font-size: 1.3em;
            float: right;
            @media screen and (max-width: 767px){
                content: '';
            }
        }
    }
    @media screen and (min-width: 768px) and (max-width: 991px){
        .after{
            margin: 0;
            padding: 0;
            &:after{
                content: '';
            }
        }
    }
}
/*FIN FOOTER*/